body{
  margin:0;
}

.info{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.9);
  z-index: 10;
  color: #000;
  transition:opacity 1s, visibility 1000ms;
}

.info.open{
  visibility: visible;
  opacity: 1;
  transition:opacity 1s, visibility 0ms;
}

.txt-info{
  width: 200px;
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  padding: 5px 50px;
  border-radius: 20px;
  margin-top: 20px;
  cursor:pointer;
}

.info p{
  text-align: center;
  padding-top: 30px;
}

.info .croix{
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 50px;
  cursor: pointer;
}

.mds{
  padding-top: 100px;
  text-align: center;
}

button{
  position: absolute;
  bottom: 30px;
  z-index: 9;
  border-radius: 31px;
  border: 1px solid orange;
  padding: 15px 10px;
  background-color: orange;
  left: 50%;
  transform: translateX(-50%);
}

.googlyEyes {
  position: absolute;
  left:0;
  top:0;
  width : 100vw;
  height: 100vh;
  background-color: gray;
}

video{

}